/* estilos para botones del menu de gestion */

 .nav-link.collapsed {
    background-color: #6e25f5; /* Color de fondo (ajústalo según tu preferencia) */
    color: white !important; /* Color del texto */
    transition: background-color 0.3s ease; /* Efecto suave */
  }

  .nav-link.collapsed:hover {
    background-color: #e9ecef; /* Color de fondo al pasar el cursor */
    color: #000; /* Color del texto al pasar el cursor */
  }
  
  .nav-treeview {
    font-size: 15px; /* Tamaño del texto */
        
  }

  .nav-icon {
    font-size: 15px!important; /* Cambia el tamaño de los iconos */
  }
  
  .content {
    background-image: url('../../assents/imagen_fondo_aplicacion.png');
    background-size: cover;  /* Hace que la imagen cubra el contenedor */
    background-position: center;  /* Centra la imagen */
    height:700px;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    
  }
 
/*-------------------------------------- Estilo para los botones de paginación redondeados --------------------------------------------- */

.dt-paging-button {
    border-radius: 10px !important;
    padding: 6px 12px !important; /* Ajustar tamaño */
    margin: 0 2px; /* Espaciado entre botones */
    background-color: #f8f9fa !important; /* Fondo */
    color: #007bff !important; /* Color de texto */
    border: 1px solid #007bff !important; /* Borde */
}

/*-------------------------------------- Estilo al pasar el mouse sobre los botones -----------------------------------------------------*/
.dt-paging-button:hover {
    background-color: #007bff77 !important; /* Color de fondo */
    color: #fff !important; /* Color de texto */
    border-color: #007bff !important; /* Borde */
}

.dt-search input{
    border-radius: 5px !important;
    margin: 0 5px; /* Espaciado entre botones */
}

/*----------------------------------------------para el login-register--------------------------------------------------------------------*/

.login-page {
    background-image: url('../../assents/imagen_login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor_todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja_trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0,128,255,0.5);
}

.caja_trasera div{
    margin: 100px 40px;
    color:white;
    transition: all 500ms;
}

.caja_trasera div p,
.caja_trasera div button {
    margin-top: 30px;

}

.caja_trasera div h3{
    font-weight: 400;
    font-size: 26px;
}
.caja_trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja_trasera button{
    border-radius: 10px;
    padding: 10px 40px;
    border: 2px solid white;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transition: all 300ms;
}

.caja_trasera button:hover {
    background: #fff;
    color:#007bff;
}

.caja_trasera_register {
    padding-left: 30px;
}

/* estilo para el formulario de login-regiter*/

.contenedor_login-register {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -200px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);

}

.contenedor_login-register form{
    width: 100%;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius: 10px;

}

.contenedor_login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color:blue;

}

.contenedor_login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;

}

.contenedor_login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #007bff;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.formulario_login{
    opacity: 1;
    display: block;
}

.formulario_register{
    display: none;
}

@media screen and (max-width: 850px){
    main{
        margin-top: 50px;
        }
    .caja_trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin:auto;
    }
    .caja_trasera div{
        margin:0px;
        position: absolute;
    }

    /*responsive de formularios*/

    .contenedor_login-register {
        top:-10px;
        left: -5px;
        margin: auto;
    }
    .contenedor_login-register form{
        position: relative;
    }
}


